<a href="https://colab.research.google.com/github/Kanahe1800/hanami-bloom-prediction/blob/main/createLastcsvs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task
Match each city's weather data from the files in "/content/all_city_weather_data/" with the bloom dates from "cherry_blossom_finalized.csv" and create a new CSV file for each city containing the weather data and the corresponding bloom date.

## Load cherry blossom data

### Subtask:
Load the `cherry_blossom_finalized.csv` file into a DataFrame.

**Reasoning**:
Import pandas and load the cherry blossom data into a DataFrame.

In [1]:
import pandas as pd

cherry_blossom_df = pd.read_csv('/content/cherry_blossom_finalized.csv')
display(cherry_blossom_df.head())

,Site Name,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2018,2019,2020,2021,2022,2023,2024,2025,Latitude,Longitude
0,Wakkanai,1981-05-15 00:00:00,1982-05-18 00:00:00,1983-05-12 00:00:00,1984-05-26 00:00:00,1985-05-17 00:00:00,1986-05-18 00:00:00,1987-05-19 00:00:00,1988-05-20 00:00:00,1989-05-19 00:00:00,...,2018-05-15 00:00:00,2019-05-09 00:00:00,2020-05-12 00:00:00,2021-05-11 00:00:00,2022-05-09 00:00:00,2023-05-05 00:00:00,2024-05-04 00:00:00,2025-05-10 00:00:00,45.415811,141.673031
1,Asahikawa,1981-05-07 00:00:00,1982-05-07 00:00:00,1983-04-29 00:00:00,1984-05-17 00:00:00,1985-05-06 00:00:00,1986-05-08 00:00:00,1987-05-10 00:00:00,1988-05-11 00:00:00,1989-05-06 00:00:00,...,2018-05-01 00:00:00,2019-05-04 00:00:00,2020-05-04 00:00:00,2021-05-03 00:00:00,2022-04-28 00:00:00,2023-04-28 00:00:00,2024-04-26 00:00:00,2025-05-02 00:00:00,43.770625,142.364974
2,Abashiri,1981-05-17 00:00:00,1982-05-13 00:00:00,1983-05-05 00:00:00,1984-05-26 00:00:00,1985-05-12 00:00:00,1986-05-10 00:00:00,1987-05-11 00:00:00,1988-05-15 00:00:00,1989-05-19 00:00:00,...,2018-05-06 00:00:00,2019-05-07 00:00:00,2020-05-09 00:00:00,2021-05-07 00:00:00,2022-04-30 00:00:00,2023-05-01 00:00:00,2024-04-30 00:00:00,2025-05-10 00:00:00,44.020603,144.273203
3,Sapporo,1981-05-08 00:00:00,1982-05-08 00:00:00,1983-05-01 00:00:00,1984-05-21 00:00:00,1985-05-08 00:00:00,1986-05-09 00:00:00,1987-05-09 00:00:00,1988-05-07 00:00:00,1989-05-04 00:00:00,...,2018-04-29 00:00:00,2019-04-29 00:00:00,2020-05-02 00:00:00,2021-04-27 00:00:00,2022-04-25 00:00:00,2023-04-21 00:00:00,2024-04-24 00:00:00,2025-04-27 00:00:00,43.061936,141.354292
4,Obihiro,1981-05-07 00:00:00,1982-05-09 00:00:00,1983-05-03 00:00:00,1984-05-21 00:00:00,1985-05-06 00:00:00,1986-05-08 00:00:00,1987-05-08 00:00:00,1988-05-07 00:00:00,1989-05-07 00:00:00,...,2018-04-28 00:00:00,2019-04-30 00:00:00,2020-05-03 00:00:00,2021-04-27 00:00:00,2022-04-25 00:00:00,2023-04-22 00:00:00,2024-04-26 00:00:00,2025-05-03 00:00:00,42.923809,143.196632

## Identify city weather files

### Subtask:
Get a list of all the city weather CSV files in the `/content/all_city_weather_data/` directory.

**Reasoning**:
List all files in the `/content/all_city_weather_data/` directory and filter for CSV files.

In [2]:
import os

all_files = os.listdir('/content/all_city_weather_data/')
city_weather_files = [f for f in all_files if f.endswith('.csv')]
print(city_weather_files)

['Tokushima.csv', 'Nara.csv', 'Matsuyama.csv', 'Aomori.csv', 'Wakkanai.csv', 'Ishigaki Island.csv', 'Hiroshima.csv', 'Mito.csv', 'Naze.csv', 'Sapporo.csv', 'Naha.csv', 'Hakodate.csv', 'Choshi.csv', 'Sendai.csv', 'Fukushima.csv', 'Tsu.csv', 'Matsue.csv', 'Tokyo.csv', 'Shimonoseki.csv', 'Minami Daito Island.csv', 'Maebashi.csv', 'Tottori.csv', 'Akita.csv', 'Kofu.csv', 'Nagoya.csv', 'Saga.csv', 'Miyazaki.csv', 'Nagano.csv', 'Takamatsu.csv', 'Yamagata.csv', 'Hikone.csv', 'Niigata.csv', 'Kanazawa.csv', 'Utsunomiya.csv', 'Fukuoka.csv', 'Abashiri.csv', 'Okayama.csv', 'Nagasaki.csv', 'Wakayama.csv', 'Osaka.csv', 'Oita.csv', 'Yokohama.csv', 'Asahikawa.csv', 'Gifu.csv', 'Kumamoto.csv', 'Muroran.csv', 'Kumagaya.csv', 'Kushiro.csv', 'Shizuoka.csv', 'Kyoto.csv', 'Kobe.csv', 'Morioka.csv', 'Obihiro.csv', 'Kochi.csv', 'Toyama.csv', 'Kagoshima.csv', 'Miyakojima.csv', 'Fukui.csv']

## Process each city's data

### Subtask:
For each city weather file, load the data, extract the city name, find the corresponding bloom date for each year, add the bloom date as a new column, and save the updated DataFrame as a new CSV file.

**Reasoning**:
Iterate through each city weather file, load it, extract the city name, melt the cherry blossom data, merge the weather data with the bloom dates, and save the result to a new CSV file.

In [3]:
import os

melted_cherry_blossom_df = cherry_blossom_df.melt(
    id_vars=['Site Name', 'Latitude', 'Longitude'],
    var_name='Year',
    value_name='Bloom Date'
)
melted_cherry_blossom_df['Year'] = pd.to_numeric(melted_cherry_blossom_df['Year'])

for file_name in city_weather_files:
    city_name = file_name.replace('.csv', '')
    weather_df = pd.read_csv(os.path.join('/content/all_city_weather_data/', file_name))

    merged_df = pd.merge(
        weather_df,
        melted_cherry_blossom_df[melted_cherry_blossom_df['Site Name'] == city_name],
        left_on='Year',
        right_on='Year',
        how='left'
    )

    output_filename = f"{city_name}_with_bloom_date.csv"
    merged_df.to_csv(output_filename, index=False)

KeyError: 'Year'

**Reasoning**:
The error indicates that the 'Year' column is not present in one of the dataframes during the merge operation. I need to inspect the columns of `weather_df` to understand why the merge is failing and fix the column name used for merging.

In [4]:
for file_name in city_weather_files:
    weather_df = pd.read_csv(os.path.join('/content/all_city_weather_data/', file_name))
    print(f"Columns in {file_name}: {weather_df.columns.tolist()}")
    break

Columns in Tokushima.csv: ['seasonal_year', 'Nov_prec', 'Dec_prec', 'Jan_prec', 'Feb_prec', 'Mar_prec', 'Nov_temp_y', 'Dec_temp_y', 'Jan_temp_y', 'Feb_temp_y', 'Mar_temp_y']

**Reasoning**:
The previous output shows that the year column in the weather dataframes is named 'seasonal_year'. I need to use 'seasonal_year' for merging with the 'Year' column in the melted cherry blossom dataframe. I will now rewrite the code to perform the merge using the correct column name and save the resulting dataframes.

In [13]:
import os

melted_cherry_blossom_df = cherry_blossom_df.melt(
    id_vars=['Site Name', 'Latitude', 'Longitude'],
    var_name='Year',
    value_name='Bloom Date'
)
melted_cherry_blossom_df['Year'] = pd.to_numeric(melted_cherry_blossom_df['Year'])

# Convert 'Bloom Date' to datetime objects to extract day and week of year
melted_cherry_blossom_df['Bloom Date'] = pd.to_datetime(melted_cherry_blossom_df['Bloom Date'])
melted_cherry_blossom_df['bloom_day_of_year'] = melted_cherry_blossom_df['Bloom Date'].dt.dayofyear
melted_cherry_blossom_df['bloom_week_of_year'] = melted_cherry_blossom_df['Bloom Date'].dt.isocalendar().week


# Create output directory if it doesn't exist
output_dir = 'city_bloom_data'
os.makedirs(output_dir, exist_ok=True)

for file_name in city_weather_files:
    city_name = file_name.replace('.csv', '')
    weather_df = pd.read_csv(os.path.join('/content/all_city_weather_data/', file_name))

    merged_df = pd.merge(
        weather_df,
        melted_cherry_blossom_df[melted_cherry_blossom_df['Site Name'] == city_name],
        left_on='seasonal_year',
        right_on='Year',
        how='left'
    )
    # Drop the original 'Bloom Date' and other columns not needed for ML
    merged_df = merged_df.drop(columns=['Site Name', 'Latitude', 'Longitude', 'Year', 'Bloom Date'])
    output_filename = os.path.join(output_dir, f"{city_name}_with_bloom_day_and_week_of_year.csv")
    merged_df.to_csv(output_filename, index=False)

In [14]:
import shutil
from google.colab import files

# Compress the directory
output_filename = 'city_bloom_data.zip'
shutil.make_archive(output_filename.replace('.zip', ''), 'zip', 'city_bloom_data')

# Download the file
files.download(output_filename)