<a href="https://colab.research.google.com/github/Kanahe1800/hanami-bloom-prediction/blob/main/fullBloom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Loading and Preprocessing: Yum Yum

In [34]:
# Importing libraries and tools
import pandas as pd
import numpy as np
import json
import requests

In [35]:
# Checking data for the cherry blossoms full bloom dates in Japan
df_cherry = pd.read_csv("/content/sakura_full_bloom_dates.csv")
df_cherry.head()

,Site Name,Currently Being Observed,1953,1954,1955,1956,1957,1958,1959,1960,...,2018,2019,2020,2021,2022,2023,2024,2025,30 Year Average 1991-2020,Notes
0,Wakkanai,True,1953-05-30 00:00:00,1954-05-27 00:00:00,1955-05-23 00:00:00,1956-05-14 00:00:00,1957-05-22 00:00:00,1958-05-25 00:00:00,1959-05-12 00:00:00,1960-05-24 00:00:00,...,2018-05-15 00:00:00,2019-05-09 00:00:00,2020-05-12 00:00:00,2021-05-11 00:00:00,2022-05-09 00:00:00,2023-05-05 00:00:00,2024-05-04 00:00:00,2025-05-10 00:00:00,5 16,Sargent cherry (Prunus sargentii)
1,Rumoi,False,1953-05-13 00:00:00,1954-05-17 00:00:00,1955-05-16 00:00:00,1956-05-14 00:00:00,1957-05-14 00:00:00,1958-05-16 00:00:00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,Sargent cherry (Prunus sargentii)
2,Asahikawa,True,1953-05-16 00:00:00,1954-05-18 00:00:00,1955-05-14 00:00:00,1956-05-13 00:00:00,1957-05-14 00:00:00,1958-05-15 00:00:00,1959-05-13 00:00:00,1960-05-16 00:00:00,...,2018-05-01 00:00:00,2019-05-04 00:00:00,2020-05-04 00:00:00,2021-05-03 00:00:00,2022-04-28 00:00:00,2023-04-28 00:00:00,2024-04-26 00:00:00,2025-05-02 00:00:00,5 7,Sargent cherry (Prunus sargentii)
3,Abashiri,True,1953-05-26 00:00:00,1954-05-19 00:00:00,1955-05-20 00:00:00,1956-05-13 00:00:00,NaN,NaN,1959-05-07 00:00:00,NaN,...,2018-05-06 00:00:00,2019-05-07 00:00:00,2020-05-09 00:00:00,2021-05-07 00:00:00,2022-04-30 00:00:00,2023-05-01 00:00:00,2024-04-30 00:00:00,2025-05-10 00:00:00,5 13,Sargent cherry (Prunus sargentii)
4,Sapporo,True,1953-05-14 00:00:00,1954-05-08 00:00:00,1955-05-16 00:00:00,1956-05-09 00:00:00,1957-05-13 00:00:00,NaN,1959-05-10 00:00:00,1960-05-09 00:00:00,...,2018-04-29 00:00:00,2019-04-29 00:00:00,2020-05-02 00:00:00,2021-04-27 00:00:00,2022-04-25 00:00:00,2023-04-21 00:00:00,2024-04-24 00:00:00,2025-04-27 00:00:00,5 6,NaN

In [36]:
"""
This code cell here will drop columns we do not need, which inlcudes the "Notes"
section, and the years from 1953 - 1980 because they do not sync well with the other
datasets
"""
df_cherry = df_cherry.drop(columns = ["Notes"])

for year in range(1953, 1981):
  # dropping columns for years from 1953 to 1980
  df_cherry = df_cherry.drop(columns = [str(year)])

df_cherry.head() # confirming the correct columns were dropped

,Site Name,Currently Being Observed,1981,1982,1983,1984,1985,1986,1987,1988,...,2017,2018,2019,2020,2021,2022,2023,2024,2025,30 Year Average 1991-2020
0,Wakkanai,True,1981-05-15 00:00:00,1982-05-18 00:00:00,1983-05-12 00:00:00,1984-05-26 00:00:00,1985-05-17 00:00:00,1986-05-18 00:00:00,1987-05-19 00:00:00,1988-05-20 00:00:00,...,2017-05-11 00:00:00,2018-05-15 00:00:00,2019-05-09 00:00:00,2020-05-12 00:00:00,2021-05-11 00:00:00,2022-05-09 00:00:00,2023-05-05 00:00:00,2024-05-04 00:00:00,2025-05-10 00:00:00,5 16
1,Rumoi,False,1981-05-13 00:00:00,1982-05-12 00:00:00,1983-05-03 00:00:00,1984-05-23 00:00:00,1985-05-13 00:00:00,1986-05-11 00:00:00,1987-05-15 00:00:00,1988-05-12 00:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
2,Asahikawa,True,1981-05-07 00:00:00,1982-05-07 00:00:00,1983-04-29 00:00:00,1984-05-17 00:00:00,1985-05-06 00:00:00,1986-05-08 00:00:00,1987-05-10 00:00:00,1988-05-11 00:00:00,...,2017-05-05 00:00:00,2018-05-01 00:00:00,2019-05-04 00:00:00,2020-05-04 00:00:00,2021-05-03 00:00:00,2022-04-28 00:00:00,2023-04-28 00:00:00,2024-04-26 00:00:00,2025-05-02 00:00:00,5 7
3,Abashiri,True,1981-05-17 00:00:00,1982-05-13 00:00:00,1983-05-05 00:00:00,1984-05-26 00:00:00,1985-05-12 00:00:00,1986-05-10 00:00:00,1987-05-11 00:00:00,1988-05-15 00:00:00,...,2017-05-07 00:00:00,2018-05-06 00:00:00,2019-05-07 00:00:00,2020-05-09 00:00:00,2021-05-07 00:00:00,2022-04-30 00:00:00,2023-05-01 00:00:00,2024-04-30 00:00:00,2025-05-10 00:00:00,5 13
4,Sapporo,True,1981-05-08 00:00:00,1982-05-08 00:00:00,1983-05-01 00:00:00,1984-05-21 00:00:00,1985-05-08 00:00:00,1986-05-09 00:00:00,1987-05-09 00:00:00,1988-05-07 00:00:00,...,2017-05-03 00:00:00,2018-04-29 00:00:00,2019-04-29 00:00:00,2020-05-02 00:00:00,2021-04-27 00:00:00,2022-04-25 00:00:00,2023-04-21 00:00:00,2024-04-24 00:00:00,2025-04-27 00:00:00,5 6

In [37]:
# Checking the amount of cities in the dataset, and rows with currently unobserved sites
total_observed_cities = len(df_cherry["Currently Being Observed"])
count_rows_notobs = len(df_cherry[df_cherry["Currently Being Observed"] == False])

print(f"Total number of observed cities in this dataset: {total_observed_cities}")
print(f"Number of cities with unobserved cherry full bloom dates: {count_rows_notobs}")

Total number of observed cities in this dataset: 102
Number of cities with unobserved cherry full bloom dates: 44

In [38]:
# We will filter out cities that are not observed to keep the data consistent
unobserved_cities_condition = df_cherry["Currently Being Observed"] == False # the boolean condition to filter out unobserved cities
df_cherry_filtered = df_cherry.drop(df_cherry[unobserved_cities_condition].index) # creating a new dataframe with the filtered out cities

print(len(df_cherry["Currently Being Observed"])) # Checking if the original dataframe is untouched
print(len(df_cherry_filtered["Currently Being Observed"])) # Finding out if we correctly dropped the number of unobserved cities == 102 - 44 = 58

""" df_cherry_filtered will be the dataset we're working on from now """
df_cherry_filtered.head()

102
58

,Site Name,Currently Being Observed,1981,1982,1983,1984,1985,1986,1987,1988,...,2017,2018,2019,2020,2021,2022,2023,2024,2025,30 Year Average 1991-2020
0,Wakkanai,True,1981-05-15 00:00:00,1982-05-18 00:00:00,1983-05-12 00:00:00,1984-05-26 00:00:00,1985-05-17 00:00:00,1986-05-18 00:00:00,1987-05-19 00:00:00,1988-05-20 00:00:00,...,2017-05-11 00:00:00,2018-05-15 00:00:00,2019-05-09 00:00:00,2020-05-12 00:00:00,2021-05-11 00:00:00,2022-05-09 00:00:00,2023-05-05 00:00:00,2024-05-04 00:00:00,2025-05-10 00:00:00,5 16
2,Asahikawa,True,1981-05-07 00:00:00,1982-05-07 00:00:00,1983-04-29 00:00:00,1984-05-17 00:00:00,1985-05-06 00:00:00,1986-05-08 00:00:00,1987-05-10 00:00:00,1988-05-11 00:00:00,...,2017-05-05 00:00:00,2018-05-01 00:00:00,2019-05-04 00:00:00,2020-05-04 00:00:00,2021-05-03 00:00:00,2022-04-28 00:00:00,2023-04-28 00:00:00,2024-04-26 00:00:00,2025-05-02 00:00:00,5 7
3,Abashiri,True,1981-05-17 00:00:00,1982-05-13 00:00:00,1983-05-05 00:00:00,1984-05-26 00:00:00,1985-05-12 00:00:00,1986-05-10 00:00:00,1987-05-11 00:00:00,1988-05-15 00:00:00,...,2017-05-07 00:00:00,2018-05-06 00:00:00,2019-05-07 00:00:00,2020-05-09 00:00:00,2021-05-07 00:00:00,2022-04-30 00:00:00,2023-05-01 00:00:00,2024-04-30 00:00:00,2025-05-10 00:00:00,5 13
4,Sapporo,True,1981-05-08 00:00:00,1982-05-08 00:00:00,1983-05-01 00:00:00,1984-05-21 00:00:00,1985-05-08 00:00:00,1986-05-09 00:00:00,1987-05-09 00:00:00,1988-05-07 00:00:00,...,2017-05-03 00:00:00,2018-04-29 00:00:00,2019-04-29 00:00:00,2020-05-02 00:00:00,2021-04-27 00:00:00,2022-04-25 00:00:00,2023-04-21 00:00:00,2024-04-24 00:00:00,2025-04-27 00:00:00,5 6
6,Obihiro,True,1981-05-07 00:00:00,1982-05-09 00:00:00,1983-05-03 00:00:00,1984-05-21 00:00:00,1985-05-06 00:00:00,1986-05-08 00:00:00,1987-05-08 00:00:00,1988-05-07 00:00:00,...,2017-05-02 00:00:00,2018-04-28 00:00:00,2019-04-30 00:00:00,2020-05-03 00:00:00,2021-04-27 00:00:00,2022-04-25 00:00:00,2023-04-22 00:00:00,2024-04-26 00:00:00,2025-05-03 00:00:00,5 5

In [39]:
# Sanity check to see if df_cherry_filtered dataset only contains observed cities
total_observed_cities_sanity = len(df_cherry_filtered["Currently Being Observed"])
count_rows_notobs_sanity = len(df_cherry_filtered[df_cherry_filtered["Currently Being Observed"] == False])

print(f"Total number of observed cities in this dataset: {total_observed_cities_sanity}")
print(f"Number of cities with unobserved cherry full bloom dates: {count_rows_notobs_sanity}")

Total number of observed cities in this dataset: 58
Number of cities with unobserved cherry full bloom dates: 0

In [40]:
# We can now drop the currently observe column
df_cherry_filtered = df_cherry_filtered.drop(columns = ["Currently Being Observed"])

df_cherry_filtered.head()

,Site Name,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2017,2018,2019,2020,2021,2022,2023,2024,2025,30 Year Average 1991-2020
0,Wakkanai,1981-05-15 00:00:00,1982-05-18 00:00:00,1983-05-12 00:00:00,1984-05-26 00:00:00,1985-05-17 00:00:00,1986-05-18 00:00:00,1987-05-19 00:00:00,1988-05-20 00:00:00,1989-05-19 00:00:00,...,2017-05-11 00:00:00,2018-05-15 00:00:00,2019-05-09 00:00:00,2020-05-12 00:00:00,2021-05-11 00:00:00,2022-05-09 00:00:00,2023-05-05 00:00:00,2024-05-04 00:00:00,2025-05-10 00:00:00,5 16
2,Asahikawa,1981-05-07 00:00:00,1982-05-07 00:00:00,1983-04-29 00:00:00,1984-05-17 00:00:00,1985-05-06 00:00:00,1986-05-08 00:00:00,1987-05-10 00:00:00,1988-05-11 00:00:00,1989-05-06 00:00:00,...,2017-05-05 00:00:00,2018-05-01 00:00:00,2019-05-04 00:00:00,2020-05-04 00:00:00,2021-05-03 00:00:00,2022-04-28 00:00:00,2023-04-28 00:00:00,2024-04-26 00:00:00,2025-05-02 00:00:00,5 7
3,Abashiri,1981-05-17 00:00:00,1982-05-13 00:00:00,1983-05-05 00:00:00,1984-05-26 00:00:00,1985-05-12 00:00:00,1986-05-10 00:00:00,1987-05-11 00:00:00,1988-05-15 00:00:00,1989-05-19 00:00:00,...,2017-05-07 00:00:00,2018-05-06 00:00:00,2019-05-07 00:00:00,2020-05-09 00:00:00,2021-05-07 00:00:00,2022-04-30 00:00:00,2023-05-01 00:00:00,2024-04-30 00:00:00,2025-05-10 00:00:00,5 13
4,Sapporo,1981-05-08 00:00:00,1982-05-08 00:00:00,1983-05-01 00:00:00,1984-05-21 00:00:00,1985-05-08 00:00:00,1986-05-09 00:00:00,1987-05-09 00:00:00,1988-05-07 00:00:00,1989-05-04 00:00:00,...,2017-05-03 00:00:00,2018-04-29 00:00:00,2019-04-29 00:00:00,2020-05-02 00:00:00,2021-04-27 00:00:00,2022-04-25 00:00:00,2023-04-21 00:00:00,2024-04-24 00:00:00,2025-04-27 00:00:00,5 6
6,Obihiro,1981-05-07 00:00:00,1982-05-09 00:00:00,1983-05-03 00:00:00,1984-05-21 00:00:00,1985-05-06 00:00:00,1986-05-08 00:00:00,1987-05-08 00:00:00,1988-05-07 00:00:00,1989-05-07 00:00:00,...,2017-05-02 00:00:00,2018-04-28 00:00:00,2019-04-30 00:00:00,2020-05-03 00:00:00,2021-04-27 00:00:00,2022-04-25 00:00:00,2023-04-22 00:00:00,2024-04-26 00:00:00,2025-05-03 00:00:00,5 5

In [41]:
"""
This code cell here will check for any remaining null values in columns.
- If a city does not have the data for a single year, we will take it's 30 year
average data to substitute it in
- If a city does not have a 30 year average, we will use the closest neighbouring
city data
"""
df_cherry_filtered.isnull().sum()

Site Name                    0
1981                         0
1982                         0
1983                         0
1984                         0
1985                         0
1986                         0
1987                         0
1988                         1
1989                         0
1990                         0
1991                         0
1992                         0
1993                         0
1994                         0
1995                         0
1996                         0
1997                         0
1998                         1
1999                         0
2000                         0
2001                         0
2002                         0
2003                         0
2004                         0
2005                         0
2006                         0
2007                         0
2008                         0
2009                         0
2010                         0
2011                         0
2012                         0
2013                         0
2014                         0
2015                         0
2016                         0
2017                         0
2018                         0
2019                         1
2020                         3
2021                         1
2022                         0
2023                         2
2024                         2
2025                         4
30 Year Average 1991-2020    0
dtype: int64

In [42]:
"""
Here is the imputing process
"""
# Going through each row
for index, row in df_cherry_filtered.iterrows():
  # Saving the city's 30 year average month and date in case the column's null
  # Clean up the string and split it
  avg_parts = row["30 Year Average 1991-2020"].strip().split()

  # Check if splitting resulted in at least two parts (month and day)
  if len(avg_parts) >= 2:
      city_30_avg_month = avg_parts[0]
      city_30_avg_date = avg_parts[1]

      # Going through each column of the city
      for column_name, column_data in row.items():
        # Check if the column name is a year (assuming year columns are strings of 4 digits)
        if column_name.isdigit() and len(column_name) == 4:
            if pd.isnull(column_data):
              #print(f"Null found in row {index}, column {column_name}")
              # this will be the formatting for the city's 30 years average month and date
              # to be impute into that null column
              try:
                  # Convert month and day to integers
                  month = int(city_30_avg_month)
                  day = int(city_30_avg_date)
                  year = int(column_name)

                  # Create a datetime object
                  imputed_date = pd.to_datetime(f'{year}-{month}-{day} 00:00:00')

                  # Impute the null value
                  df_cherry_filtered.loc[index, column_name] = imputed_date

              except ValueError:
                  # Handle cases where month, day, or year are not valid integers
                  # or the date itself is invalid (e.g., Feb 30)
                  print(f"Could not create valid date for row {index}, column {column_name} with average '{row['30 Year Average 1991-2020']}'")
  else:
      print(f"Could not parse '30 Year Average 1991-2020' for row {index}: '{row['30 Year Average 1991-2020']}'")

In [43]:
# We can now drop the 30 Years average column
df_cherry_filtered = df_cherry_filtered.drop(columns = ["30 Year Average 1991-2020"])

# Checking if we still have null data now
df_cherry_filtered.isnull().sum()

Site Name    0
1981         0
1982         0
1983         0
1984         0
1985         0
1986         0
1987         0
1988         0
1989         0
1990         0
1991         0
1992         0
1993         0
1994         0
1995         0
1996         0
1997         0
1998         0
1999         0
2000         0
2001         0
2002         0
2003         0
2004         0
2005         0
2006         0
2007         0
2008         0
2009         0
2010         0
2011         0
2012         0
2013         0
2014         0
2015         0
2016         0
2017         0
2018         0
2019         0
2020         0
2021         0
2022         0
2023         0
2024         0
2025         0
dtype: int64

In [44]:
# Final clean data check before importing new features
df_cherry_filtered.head()

,Site Name,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Wakkanai,1981-05-15 00:00:00,1982-05-18 00:00:00,1983-05-12 00:00:00,1984-05-26 00:00:00,1985-05-17 00:00:00,1986-05-18 00:00:00,1987-05-19 00:00:00,1988-05-20 00:00:00,1989-05-19 00:00:00,...,2016-05-15 00:00:00,2017-05-11 00:00:00,2018-05-15 00:00:00,2019-05-09 00:00:00,2020-05-12 00:00:00,2021-05-11 00:00:00,2022-05-09 00:00:00,2023-05-05 00:00:00,2024-05-04 00:00:00,2025-05-10 00:00:00
2,Asahikawa,1981-05-07 00:00:00,1982-05-07 00:00:00,1983-04-29 00:00:00,1984-05-17 00:00:00,1985-05-06 00:00:00,1986-05-08 00:00:00,1987-05-10 00:00:00,1988-05-11 00:00:00,1989-05-06 00:00:00,...,2016-05-04 00:00:00,2017-05-05 00:00:00,2018-05-01 00:00:00,2019-05-04 00:00:00,2020-05-04 00:00:00,2021-05-03 00:00:00,2022-04-28 00:00:00,2023-04-28 00:00:00,2024-04-26 00:00:00,2025-05-02 00:00:00
3,Abashiri,1981-05-17 00:00:00,1982-05-13 00:00:00,1983-05-05 00:00:00,1984-05-26 00:00:00,1985-05-12 00:00:00,1986-05-10 00:00:00,1987-05-11 00:00:00,1988-05-15 00:00:00,1989-05-19 00:00:00,...,2016-05-10 00:00:00,2017-05-07 00:00:00,2018-05-06 00:00:00,2019-05-07 00:00:00,2020-05-09 00:00:00,2021-05-07 00:00:00,2022-04-30 00:00:00,2023-05-01 00:00:00,2024-04-30 00:00:00,2025-05-10 00:00:00
4,Sapporo,1981-05-08 00:00:00,1982-05-08 00:00:00,1983-05-01 00:00:00,1984-05-21 00:00:00,1985-05-08 00:00:00,1986-05-09 00:00:00,1987-05-09 00:00:00,1988-05-07 00:00:00,1989-05-04 00:00:00,...,2016-05-01 00:00:00,2017-05-03 00:00:00,2018-04-29 00:00:00,2019-04-29 00:00:00,2020-05-02 00:00:00,2021-04-27 00:00:00,2022-04-25 00:00:00,2023-04-21 00:00:00,2024-04-24 00:00:00,2025-04-27 00:00:00
6,Obihiro,1981-05-07 00:00:00,1982-05-09 00:00:00,1983-05-03 00:00:00,1984-05-21 00:00:00,1985-05-06 00:00:00,1986-05-08 00:00:00,1987-05-08 00:00:00,1988-05-07 00:00:00,1989-05-07 00:00:00,...,2016-05-03 00:00:00,2017-05-02 00:00:00,2018-04-28 00:00:00,2019-04-30 00:00:00,2020-05-03 00:00:00,2021-04-27 00:00:00,2022-04-25 00:00:00,2023-04-22 00:00:00,2024-04-26 00:00:00,2025-05-03 00:00:00

# Getting New Data for our filtered cherry blossom dataset: Latitude and Longitude

In [45]:
def long_lat_for_city(city_name: str):
  """
  This function is to get the longitude, and latitude for the observed cities by
  calling the Nominatim API
  """
  # search API format for Nominatim: https://nominatim.openstreetmap.org/search?<params>
  # example to search a particular city: https://nominatim.openstreetmap.org/search?q=Tokyo&format=json

  nominatim_url = "https://nominatim.openstreetmap.org/search?"

  headers = { # for security reason, so that Nominatim can contact a member from the project if something were to happen
      'User-Agent': 'CherryBlossomAnalysis/1.0(longtran@uvic.ca)'
  }

  params = { # setting up parameters to send to Nominatim and getting a json file if successful
      'q': city_name,
      'format': 'json'
  }

  response = requests.get(nominatim_url, params = params, headers = headers) # this will be the response from Nominatim which is the total info for the city
  #print(response.status_code) # checking the success of the call

  data = response.json() # getting the information about the city in a Json file format
  #print(data) # checking for accuracy

  # Checking if the result is empty or not, and if so the way to handle it
  if data:
    # Get the first result
    city_info = data[0]

    # if data is successfully received, we well extract longitude and latitude
    latitude = city_info.get("lat")
    longitude = city_info.get("lon")

    # return the values as a tuple of floating point type
    return float(latitude), float(longitude)
  else:
    # if the file is empty, we return None
    return None, None

# long_lat_for_city("Sapporo") # example case

In [46]:
# We will first create the latitude and longitude column for df_cherry_filtered
df_cherry_filtered["Latitude"] = np.nan
df_cherry_filtered["Longitude"] = np.nan
df_cherry_filtered.head() # checking if the columns were made

,Site Name,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2018,2019,2020,2021,2022,2023,2024,2025,Latitude,Longitude
0,Wakkanai,1981-05-15 00:00:00,1982-05-18 00:00:00,1983-05-12 00:00:00,1984-05-26 00:00:00,1985-05-17 00:00:00,1986-05-18 00:00:00,1987-05-19 00:00:00,1988-05-20 00:00:00,1989-05-19 00:00:00,...,2018-05-15 00:00:00,2019-05-09 00:00:00,2020-05-12 00:00:00,2021-05-11 00:00:00,2022-05-09 00:00:00,2023-05-05 00:00:00,2024-05-04 00:00:00,2025-05-10 00:00:00,NaN,NaN
2,Asahikawa,1981-05-07 00:00:00,1982-05-07 00:00:00,1983-04-29 00:00:00,1984-05-17 00:00:00,1985-05-06 00:00:00,1986-05-08 00:00:00,1987-05-10 00:00:00,1988-05-11 00:00:00,1989-05-06 00:00:00,...,2018-05-01 00:00:00,2019-05-04 00:00:00,2020-05-04 00:00:00,2021-05-03 00:00:00,2022-04-28 00:00:00,2023-04-28 00:00:00,2024-04-26 00:00:00,2025-05-02 00:00:00,NaN,NaN
3,Abashiri,1981-05-17 00:00:00,1982-05-13 00:00:00,1983-05-05 00:00:00,1984-05-26 00:00:00,1985-05-12 00:00:00,1986-05-10 00:00:00,1987-05-11 00:00:00,1988-05-15 00:00:00,1989-05-19 00:00:00,...,2018-05-06 00:00:00,2019-05-07 00:00:00,2020-05-09 00:00:00,2021-05-07 00:00:00,2022-04-30 00:00:00,2023-05-01 00:00:00,2024-04-30 00:00:00,2025-05-10 00:00:00,NaN,NaN
4,Sapporo,1981-05-08 00:00:00,1982-05-08 00:00:00,1983-05-01 00:00:00,1984-05-21 00:00:00,1985-05-08 00:00:00,1986-05-09 00:00:00,1987-05-09 00:00:00,1988-05-07 00:00:00,1989-05-04 00:00:00,...,2018-04-29 00:00:00,2019-04-29 00:00:00,2020-05-02 00:00:00,2021-04-27 00:00:00,2022-04-25 00:00:00,2023-04-21 00:00:00,2024-04-24 00:00:00,2025-04-27 00:00:00,NaN,NaN
6,Obihiro,1981-05-07 00:00:00,1982-05-09 00:00:00,1983-05-03 00:00:00,1984-05-21 00:00:00,1985-05-06 00:00:00,1986-05-08 00:00:00,1987-05-08 00:00:00,1988-05-07 00:00:00,1989-05-07 00:00:00,...,2018-04-28 00:00:00,2019-04-30 00:00:00,2020-05-03 00:00:00,2021-04-27 00:00:00,2022-04-25 00:00:00,2023-04-22 00:00:00,2024-04-26 00:00:00,2025-05-03 00:00:00,NaN,NaN

In [47]:
"""
This code cell will go through each row in the df_cherry_filtered dataset and
find each city's latitude and longitude values using the long_lat_for_city()
function.
.iterrows() syntax explanation:
- the index indicates the row num on the far left, and row contains the remaining attributes
- The .loc[row_number, column_name] syntax is: .loc(4, "Latitude") - Sapporo at Latitude as an example.
If the API fails to get the data, the cell will be unfilled
"""
for index, row in df_cherry_filtered.iterrows():
  # for each loop, we will call the long_lat_for_city() to get the coordinates
  # per city to then fill the cherry dataset with. If not, it will be left unfilled
  #print(row["Site Name"])
  coordinates = long_lat_for_city(row["Site Name"])
  if coordinates:
    df_cherry_filtered.loc[index, "Latitude"] = coordinates[0]
    df_cherry_filtered.loc[index, "Longitude"] = coordinates[1]

df_cherry_filtered.head() # check if all cells are filled

,Site Name,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2018,2019,2020,2021,2022,2023,2024,2025,Latitude,Longitude
0,Wakkanai,1981-05-15 00:00:00,1982-05-18 00:00:00,1983-05-12 00:00:00,1984-05-26 00:00:00,1985-05-17 00:00:00,1986-05-18 00:00:00,1987-05-19 00:00:00,1988-05-20 00:00:00,1989-05-19 00:00:00,...,2018-05-15 00:00:00,2019-05-09 00:00:00,2020-05-12 00:00:00,2021-05-11 00:00:00,2022-05-09 00:00:00,2023-05-05 00:00:00,2024-05-04 00:00:00,2025-05-10 00:00:00,45.415811,141.673031
2,Asahikawa,1981-05-07 00:00:00,1982-05-07 00:00:00,1983-04-29 00:00:00,1984-05-17 00:00:00,1985-05-06 00:00:00,1986-05-08 00:00:00,1987-05-10 00:00:00,1988-05-11 00:00:00,1989-05-06 00:00:00,...,2018-05-01 00:00:00,2019-05-04 00:00:00,2020-05-04 00:00:00,2021-05-03 00:00:00,2022-04-28 00:00:00,2023-04-28 00:00:00,2024-04-26 00:00:00,2025-05-02 00:00:00,43.770625,142.364974
3,Abashiri,1981-05-17 00:00:00,1982-05-13 00:00:00,1983-05-05 00:00:00,1984-05-26 00:00:00,1985-05-12 00:00:00,1986-05-10 00:00:00,1987-05-11 00:00:00,1988-05-15 00:00:00,1989-05-19 00:00:00,...,2018-05-06 00:00:00,2019-05-07 00:00:00,2020-05-09 00:00:00,2021-05-07 00:00:00,2022-04-30 00:00:00,2023-05-01 00:00:00,2024-04-30 00:00:00,2025-05-10 00:00:00,44.020603,144.273203
4,Sapporo,1981-05-08 00:00:00,1982-05-08 00:00:00,1983-05-01 00:00:00,1984-05-21 00:00:00,1985-05-08 00:00:00,1986-05-09 00:00:00,1987-05-09 00:00:00,1988-05-07 00:00:00,1989-05-04 00:00:00,...,2018-04-29 00:00:00,2019-04-29 00:00:00,2020-05-02 00:00:00,2021-04-27 00:00:00,2022-04-25 00:00:00,2023-04-21 00:00:00,2024-04-24 00:00:00,2025-04-27 00:00:00,43.061936,141.354292
6,Obihiro,1981-05-07 00:00:00,1982-05-09 00:00:00,1983-05-03 00:00:00,1984-05-21 00:00:00,1985-05-06 00:00:00,1986-05-08 00:00:00,1987-05-08 00:00:00,1988-05-07 00:00:00,1989-05-07 00:00:00,...,2018-04-28 00:00:00,2019-04-30 00:00:00,2020-05-03 00:00:00,2021-04-27 00:00:00,2022-04-25 00:00:00,2023-04-22 00:00:00,2024-04-26 00:00:00,2025-05-03 00:00:00,42.923809,143.196632

In [48]:
"""
We will now check if the newly imported features/columns have any null values
"""
df_cherry_filtered.isnull().sum()

Site Name    0
1981         0
1982         0
1983         0
1984         0
1985         0
1986         0
1987         0
1988         0
1989         0
1990         0
1991         0
1992         0
1993         0
1994         0
1995         0
1996         0
1997         0
1998         0
1999         0
2000         0
2001         0
2002         0
2003         0
2004         0
2005         0
2006         0
2007         0
2008         0
2009         0
2010         0
2011         0
2012         0
2013         0
2014         0
2015         0
2016         0
2017         0
2018         0
2019         0
2020         0
2021         0
2022         0
2023         0
2024         0
2025         0
Latitude     1
Longitude    1
dtype: int64

In [49]:
"""
The edge case for the island of Minami Daito Island
"""
edge_case_city = "Minami Daito Island"

# Select the row where 'Site Name' is 'Minami Daito Island' and update 'Latitude' and 'Longitude'
df_cherry_filtered.loc[df_cherry_filtered['Site Name'] == edge_case_city, 'Latitude'] = float(25.8488)
df_cherry_filtered.loc[df_cherry_filtered['Site Name'] == edge_case_city, 'Longitude'] = float(131.2507)


# Check if the edge case has been resolved
df_cherry_filtered.isnull().sum()

Site Name    0
1981         0
1982         0
1983         0
1984         0
1985         0
1986         0
1987         0
1988         0
1989         0
1990         0
1991         0
1992         0
1993         0
1994         0
1995         0
1996         0
1997         0
1998         0
1999         0
2000         0
2001         0
2002         0
2003         0
2004         0
2005         0
2006         0
2007         0
2008         0
2009         0
2010         0
2011         0
2012         0
2013         0
2014         0
2015         0
2016         0
2017         0
2018         0
2019         0
2020         0
2021         0
2022         0
2023         0
2024         0
2025         0
Latitude     0
Longitude    0
dtype: int64

In [50]:
"""
The final code cell to export the processed data
"""
df_cherry_filtered.to_csv("cherry_blossom_finalized.csv", index = False)